<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>A Pen by  z5254215560</title>
  
  
  
  
  
</head>

<body>

  <label for="upload">選擇上傳圖檔</label>
<input id="upload" type="file" accept="image/*" @change="showFile">

<label for="title">圖片名稱</label>
<input class="form-control" id="title" type="text" v-model="title" @keyup.13="submit" required>

<label for="des">圖片描述</label>
<input class="form-control" id="des" type="text" v-model="des" @keyup.13="submit" required>


<button class="btn btn-primary" type="button" @click="submit">上傳</button>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>

  

    <script  src="js/index.js"></script>




</body>

</html>
