<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>NCKUFood_student</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/style.css" rel="stylesheet" media="screen">
    <link href="./css/mobile-style.css" rel="stylesheet" media="screen">
    <link href="./css/nckufood_student.css" rel="stylesheet" media="screen">
    <link rel="shortcut icon" href="./favicon.png">
</head>

<body>
    <div id="app">
        <div class="msg">
            <h1 id="title">學生投食<h1>
            <h2 id="info">投食成功！</h2>
            <h2 id="loading">Loading...</h2>
            <h2 id="empty">請填滿所有空格！</h2>
            <form class="toss_food">
                <p>請填食物名稱</p><input type='text' v-model="input.name" name='food_name' placeholder="Enter food name">
                <p>請填食物數量</p><input type='text' v-model="input.number"name='food_number' placeholder="Enter food number">
                <p>可等待時間(分鐘)</p>
                <select v-model="input.deadline">
                  <option> 10分以內</option>
                  <option> 20分以內</option>
                  <option> 30分以內</option>
                  <option> 40分以內</option>
                  <option> 50分以內</option>
                  <option> 60分以內</option>
                  <option> 2 小時以內</option>
                  <option> 3 小時以內</option>
                  <option> 5 小時以內</option>
                </select>
                <p>地點（位置）</p><input type='text' v-model="input.location"name='location' placeholder="Enter location">
            </form>
    <!--<a id="samplelink" href="#" class="btn btn-info" role="button" onclick="closeView()">Close ME</a>-->
        </div>
    </div>

    <div class="dropzone"><div class="info"></div></div>
    <div class="button">
    <a class="action-button shadow animate blue" id="btn" type="submit" >送出</a>
    </div>
        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>
    <script type="text/javascript" src="./js/imgur.js"></script>
    <script type="text/javascript" src="./js/nckufood_student.js"></script>
</body>

</html>
