<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>NCKUFood_subscribe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/style.css" rel="stylesheet" media="screen">
    <link href="./css/mobile-style.css" rel="stylesheet" media="screen">
    <link href="./css/subscribe2.css" rel="stylesheet" media="screen">
    <link rel="shortcut icon" href="./favicon.png">

</head>

<body>
<body>
    <div class="msg">
    <h1 id="title">訂閱設定<h1>
            <div id="app">
                    <form class="toss_food">
                      <div class="repeat" v-for="subscribe in store_name">
                        <input type="checkbox" v-bind:id="subscribe.id" v-model="subscribe.check"/>
                        <p style="display:inline;">{{subscribe.value}}</p>
                      </div>
                    </form>
                  </div>

    </div>
    <div class="button">
    <a class="action-button shadow animate blue" id="btn" type="submit" >更改完畢</a>
    </div>
        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>
    <script src="./js/subscribe2.js"></script>
</body>

</html>
