html 
html(lang="zh-tw")
  head
    meta(charset="utf-8")
    title NCKU FOOD 2.0
    meta(name="description" content="Effective way to solve leftover")
    meta(name="author" content="NCKU wp2017")

    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")

    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    link(rel="stylesheet" href="https://cdn.bootcss.com/reveal.js/3.6.0/css/reveal.css")
    link(rel="stylesheet" href="https://cdn.bootcss.com/reveal.js/3.6.0/css/theme/serif.css" id="theme")
    link(rel="stylesheet" href="css/style.css")
<!--    link(rel="stylesheet" href="css/style.css")  -->

    link(rel="stylesheet" href="https://cdn.bootcss.com/reveal.js/3.6.0/lib/css/zenburn.css")   

    body 
      script(src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/js/reveal.min.js")
      script(src="https://cdn.bootcss.com/reveal.js/3.6.0/js/reveal.js")
      script(src="https://cdn.bootcss.com/reveal.js/3.3.0/lib/js/head.min.js")
      script(src="js/app.js")   
      .reveal 
        .slides
          section 
            h2 成大剩食平台2.0
            h4 一個有效解決剩下食物的創新提案

          section 
            section
              h2 關於成大剩食平台
              h3 About Us
              p.fragment 一個讓學生有更便宜甚至免費的食物的平台，也讓店家不用把賣不完食物丟掉的一個地方。
              p.fragment 透過這個聊天機器人，店家可以在快結束營業時可以把自己店內賣不完的食物丟到平台上，用較低的價格販售 
              p.fragment 學生也可以將自己辦活動多的食物免費贈送給想要吃的同學

              h5 Swipe Down for User Manual

            section 
              h3 如何使用「成大剩食平台2.0」

            section
              h2 Step01. 
              h3 登入臉書/ Facebook Login

            section
              h2 登入臉書
              h4.fragment FB搜尋「放空」
              h4.fragment 私訊粉專，內容不拘
              h4.fragment 開始註冊資料

            section
              h2 Step02.
              h3 選擇你的目標/ Choose Your Aim
              ul
                .fragment 
                  h4 管理我的訂閱/ Subscribe Management
                .fragment 
                  h4 學生投食/ Giving out Food as A Student
                .fragment 
                  h4 店家投食/ Giving out Food as A Shop 

            section
              h2 管理我的訂閱
              h3 

            section
              h2 學生投食
              h4.fragment 點選「學生投食」
              h4.fragment 依序填入食物名稱/ 數量/ 期望等待時間/ 地點
              h4.fragment 點選「上傳食物照片」取用相機/ 相片功能
              h4.fragment 上傳發布之後，系統會隨機選出客戶通知
              h4.fragment 食物發完之後，按下「食物發完了」的按鈕，通知其他客戶
              h4.fragment 投食資料會在凌晨四點清除，系統會自動中止投食事件

            section
              h2 店家投食
              h4.fragment 點選「店家投食」
              h4.fragment 依序填入食物名稱/ 數量/ 期望等待時間/ 地點
              h4.fragment 點選「上傳食物照片」取用相機/ 相片功能  
              h4.fragment 上傳發布之後，系統會根據訂閱的客戶，隨機發布通知
              h4.fragment 食物售完之後，按下「食物發完了」的按鈕，通知其他客戶     
              h4.fragment 投食資料會在凌晨四點清除，系統會自動中止投食事件   



          section(data-background-image="asset/pic/a3xR7wy.jpg")
            .intro_txt.right
              a(href="https://i.imgur.com/a3xR7wy.jpg")
                h2 張景雲
              .fragment  
                h4 就讀學校 國立成功大學資訊工程學系
                h4 自我介紹 一個無聊的人打著無聊的code
                h4 職業 領導者/最浪費食物的人

          section(data-background-image="asset/pic/Hd5IZEl.jpg")
            .intro_txt.left
              a(href="https://i.imgur.com/Hd5IZEl.jpg")
                h2 盧柏翔
              .fragment
                h4 就讀學校 國立成功大學工程科學學系
                h4 自我介紹 我是一個熱愛生活的電機人
                h4 職業 後端工程師          

          section(data-background-image="asset/pic/TAS7SBI.jpg")
            .intro_txt.right
              a(href="https://i.imgur.com/TAS7SBI.jpg")
                h2 劉宥辰
              .fragment
                h4 就讀學校 國立成功大學電機工程學系
                h4 自我介紹 一個無聊的人打著無聊的code
                h4 職業 後端工程師   

          section(data-background-image="asset/pic/pHZPMiP.jpg")
            .intro_txt.left
              a(href="https://i.imgur.com/pHZPMiP.jpg")
                h2 王祥宇
              .fragment
                h4 就讀學校 國立成功大學電機工程學系
                h4 自我介紹 我是熱愛打桌球的電機人
                h4 職業 前端工程師  

          section(data-background-image="asset/pic/ZA2q9Pr.jpg")
            .intro_txt.right
              a(href="https://i.imgur.com/ZA2q9Pr.jpg")
                h2 陳奕熹
              .fragment
                h4 就讀學校 國立成功大學電機工程學系
                h4 自我介紹 不喜歡Sedra Smith的電機人
                h4 職業 後端工程師                           

          
